@model Verimor.Webhook.EventListener.ViewModels.VerimorDiagramVM

@{
    ViewBag.Title = "Edit";
}
<style>
    input[type=text], textarea {
        min-width:15em !important;
    }

    #ErrorMessage {
        color: red;
        position: absolute;
        border: 0.1em solid black;
        padding: 2em 7em;
        z-index: 1;
        background-color: whitesmoke;
        border-radius: 0.3em;
        transform: translate(50%,50%);
        top: 10%;
        left: 38%;
        display: none;
    }
</style>
<h3>Operasyon Düzenle</h3>
<div style="margin-bottom:1rem;"></div>
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m=>m.ID)
        <table class="table">
            <tbody>
                <tr>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Title)</th>
                    <td class="text-center">@Html.TextAreaFor(m => m.Title)</td>
                </tr>
                <tr>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Phrase)</th>
                    <td class="text-center">@Html.TextAreaFor(m => m.Phrase)</td>
                </tr>
                <tr>
                    <th class="text-right">@Html.DisplayNameFor(m => m.ConditionType)</th>
                    <td class="text-center">@Html.DropDownListFor(m=>m.ConditionType,(SelectList)ViewBag.ConditionTypes, new { @style = "width:15em;" })</td>
                </tr>
                <tr>
                    <th class="text-right">@Html.DisplayNameFor(m => m.ConditionParameters)</th>
                    <td class="text-center">@Html.EditorFor(m => m.ConditionParameters)</td>
                </tr>
                <tr>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Target)</th>
                    <td class="text-center">@Html.EditorFor(m => m.Target)</td>
                </tr>
                <tr>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Max_Digits)</th>
                    <td class="text-center">@Html.EditorFor(m => m.Max_Digits)</td>
                </tr>
                <tr>
                    <th class="text-right">@Html.DisplayNameFor(m => m.Min_Digits)</th>
                    <td class="text-center">@Html.EditorFor(m => m.Min_Digits)</td>
                </tr>
                <tr>
                    <td colspan="2" class="text-center">
                        <input type="submit" value="Kaydet" />
                    </td>
                </tr>
            </tbody>
        </table>
    }

</div>
@section scripts{

}